# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/
flutter_*.png

# Platform ephemeral/build
ios/Flutter/.last_build_id
ios/.symlinks/
ios/Pods/
macos/Pods/
macos/Flutter/ephemeral/
ios/Flutter/ephemeral/
android/.gradle/
android/.idea/
android/app/build/
android/build/
**/build/
**/generated/
windows/flutter/ephemeral/
linux/flutter/ephemeral/
web/.dart_tool/

# Android signing / Google
*.keystore
*.jks
keystore.properties
google-services.json
GoogleService-Info.plist

# Xcode / macOS
*.xcworkspace/
*.xcuserstate
DerivedData/

# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Env & keys
.env
*.env
**/*.env
.env.local
.env.*.local