# Node.js / Yarn
node_modules/
.yarn/
.pnp.*
.yarnrc.yml

# Build output
build/
dist/
.out/
.cache/
.next/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env and config
.env
.env.*.local
*.local

# Capacitor output
android/build/
ios/App/App.xcworkspace/
ios/App/Pods/
ios/Podfile.lock
ios/Pods/

# Firebase logs
firebase-debug.log
firebase.json

# System junk
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/
*.iml
*.swp
*.swo
*.orig

# GitHub
*.tsbuildinfo
