# Gradle
.gradle/
build/
.cxx/
.externalNativeBuild/
captures/

# Android Studio
.idea/
*.iml
local.properties

# Output
app/release/
app/debug/
app/.cxx/

# Security
*.jks
keystore.properties

# Misc
*.log
*.lock
*.pyc
*.dex
*.class
